@model Hatzloah.Models.HatzolahNoc

    <p><b>NOC: </b><div id="final-noc-code">@Model.Noc</div></p>
    <p><b>TONE: </b>@Model.Tone</p>
    <p><b>INSTRUCTIONS: </b> @Model.Instructions</p>
    @if (Model.CodeOneFlag)
    {
        @Html.Hidden("true", "true", new { id = "id-code-1"})
    }
    else
    {
        @Html.Hidden("false", "false", new { id = "id-code-1" })
    }

    @if (Model.Question != null && Model.Question != string.Empty)
    {
        <div id="question" class="row" hidden>
            <div class="col-lg-9">
                <p>@Model.Question.ToUpper()</p>
            </div>
            <div class="col-lg-3">
                <input id="input-for-additional-questions" class="form-control" type="text" />
            </div>
        </div>
    }

